
.modal {
  
  background-color: white;
  margin: auto;
  margin-top: 50px;
  /*transform: translate(-50%, -50%);*/
  width: calc(100% - 20px);
  max-height: calc(100% - 100px);

}

.header {
  height: 25px;
  padding: 5px 10px 5px 10px;
  background-color: var(--zvolena);
  color:white;

}
.header span{
  float: right;
  color: white;
  padding: 0px;
  margin-left: 5px;
}

.body {
  max-height: 75vh;
  padding: 10px;
  overflow-y: auto;
}