.Button {
  width: 100%;
  border-radius: 0 !important;
  background-color: var(--zvolena) !important;
  color: white !important;
}

.Button:hover {
  background-color: white !important;
  color: var(--zvolena) !important;
}

.home {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  padding: 20px;
}
.home_header {
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(14, 48, 99);
  flex-direction: column;
  justify-content: center;
}

.login {
  width: 400px;
  margin: auto;
  padding: 10px;
}

.Block {
  width: 100%;
  margin-bottom: 10px !important;
  background-color: white !important;
}

.Button {
  width: 100%;
  border-radius: 0 !important;
  background-color: var(--zvolena) !important;
  color: white !important;
}

.Button:hover {
  background-color: white !important;
  color: var(--zvolena) !important;
}

.portals {
  background-color: var(--zvolena);
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
