.Layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
}

.Layout_Navbar {
  grid-column: span 2;
  grid-row: span 1;
  background-color: var(--zvolena);
  place-items: end center;
}

.Layout_Sidebar {
  grid-column: span 1;
  grid-row: span 2;
  background-color: #1a202c;
  padding-top: 10px;
}

.Layout_Body {
  grid-column: span 1;
  grid-row: span 2;
}

.SideBar a {
  text-decoration: none;
}

.SideBar button {
  width: 100%;
  height: 45px;
  color: white;
  justify-content: flex-start;
  border-radius: 0;
  padding-left: 15px;
  text-transform: none;
}
.SideBar button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
}

.NavBar {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 200px 1fr 300px;
  background: var(--zvolena);
  color: white;
}
.NavBar_user {
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  grid-column: span 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Brush Script MT", "Brush Script Std", "cursive";
}

.isActive button {
  color: white;
  background-color: var(--zvolena);
  fill: var(--zvolena);
}

.Login {
  display: flex;
  justify-self: end;
}

.sidebarLink {
  color: white !important;
  text-align: left;
}
