.Layout {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
}

.Body {
  overflow-y: scroll;
  padding: 10px;
}

.BottonBar {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #1a202c;
  color: white;
  height: 60px;
}

.BottonBar button {
  height: 100%;
  width: 100%;
  color: white;
  margin: auto;
  padding: 0;
  border-radius: 0;
}

.BottonBar button svg {
  width: 30px;
  height: 30px;
}

.BottonBar a:nth-child(3) button svg {
  width: 45px;
  height: 45px;
}

.BottonBar button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.NavBar {
  display: -ms-grid;
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 1fr 2fr 1fr 1fr; */
  /* background-color: #e3e3e3; */
  background: #333;
  color: white;
  /* height: 40px; */
}

.isActive button {
  color: var(--zvolena);
  fill: var(--zvolena);
}

.sidebarLink {
  color: white !important;
}
