.body {
}

.block_header {
  position: relative;
  padding: 5px;
}
.block_header span:nth-child(1) {
  font-size: 25px;
  font-weight: bold;
  color: var(--zvolena);
}
.block_header span:nth-child(2) {
  padding: 0;
  padding-bottom: 10px;
  color: var(--zvolena);
}
.block_header span:nth-child(3) {
  position: absolute;
  right: 5px;
  top: 20px;
  color: var(--zvolena);
}
.block_header hr {
  margin-top: 0px;
  margin-bottom: 5px;
}

.block_body {
  /* background-color: yellow; */
  display: flex;
  margin-bottom: 10px;
}

.block_body_block {
  width: 30%;
  padding: 5px;
}

.block_body_block2 {
  width: 70%;
  padding: 5px;
}
