.calendar {
  width: 100%;
  height: 100%;
  background-color: #00000018;
  padding: 10px;
}

.header {
  padding: 5px;
}

.headerName {
  height: 30px;
  display: flex;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

.headerName button {
  padding: 2px;
  border-radius: 0;
  color: white;
}
.headerName button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.headerDays {
  height: 30px;
  display: flex;
  color: white;
}

.headerDay {
  padding: 5px;
  flex: 1;
  text-align: center;
}

.body {
  height: calc(100% - 70px);
}

.week {
  display: flex;
}

.day {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px;
}

.day span {
  position: absolute;
  z-index: 1000;
}

.dayHover:hover {
  transform: scale3d(1.05,1.2,1.2);
}




.stateDay {
  /* border: none !important; */
  background-color: rgb(220, 220, 220);
  color: white;
}

.stateDay:hover {
  transform: none;
  background-color: rgb(220, 220, 220);
}

.halDay {
  width: 50%;
  height: 100%;
}

.celDay {
  width: 100%;
  height: 100%;

}

.meziDan {
  background-color: red;
}

.meziDan:hover {
  transform: scale3d(1.05,1.2,1.2);
  background-color: red;
}

.event {
  background: rgba(255,255,255,0.3);
  padding:15px;
  transition: all 0.3s;
  cursor: pointer;
}
.event:hover {
  transform: scale(1.03);
  background: rgba(255,255,255,0.5);
}