.body {
  width: 100%;
  height: 100%;
}
.body > div {
  cursor: pointer;
}

.block {
  background-color: brown;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
}

.list > div {
  background-color: brown;
  color: white;
  padding: 10px;
  position: relative;
  margin-top: 10px;
  min-height: 50px;
}

.list > div span:nth-child(1) {
  font-weight: bold;
}
.list > div span:nth-child(2) {
  position: absolute;
  right: 10px;
}
