.header {
  height: 40px;
  padding: 5px 10px 5px 10px;
  background-color: var(--zvolena);
  color:white;
}
.header span{
  float: right;
  color: white;
  padding: 0px;
  margin-left: 5px;
}
.body {
  height: calc(100% - 105px);
  padding: 10px;
  padding-top: 15px;
}

.footer {
  height: 65px;
}
.footer button {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
.footer button:hover {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.15);
}
.footer button:nth-child(2) {
  float: right;
}