:root {
  --zelena: rgb(0, 200, 0);
  --oranzova: darkorange;
  --modra: dodgerblue;
  --cervena: red;

  --zvolena: red;

  --pozadi1: rgb(200, 200, 200);
  --pozadi2: white;
  --pozadi3: rgb(235, 235, 235);

  --pismo1: black;
  --pismo2: white;

  --button1: rgba(0, 0, 0, 0.2);
  --button2: white;
  --button3: rgb(200, 200, 200);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
