.Body {
  height: calc(100% - 20px);
  overflow-x: auto;
  padding: 10px;
}



.Reserve {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.Navbar {
  padding: 5px;
}
.Navbar > div {
  background-color: var(--zvolena);
  color: white;
  padding: 5px;
  height: 25px;
}
.Navbar button{
  float: right;
  color: white;
  padding: 0px;
  margin-left: 10px;
}

.Table {
  width: 65%;
  min-width: 400px;
  padding: 5px;
}
.Calendar {
  width: 35%;
  min-width: 400px;
  padding: 5px;
}